node_modules/*
website/node_modules/*
/.scannerwork
.DS_Store
Thumbs.db
src/public/*
tests/coverage/
docker/conf/.env.dev
website/docs/.vitepress/cache
website/docs/.vitepress/dist
swagger/src/foxnox.openapi.json

# APM dependencies
apm_modules/
