<p-panel
  (mouseover)="sidenavService.setExpanded(true)"
  (mouseleave)="sidenavService.setExpanded(false)"
  (focusin)="sidenavService.setExpanded(true)"
  (focusout)="sidenavService.setExpanded(false)"
  [class.collapsed]="!sidenavService.getExpanded()">

  <ng-template pTemplate="header">
    <div [routerLink]="'/'" class="header">
      <div class="wordmark">
        <svg viewBox="0 0 73 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <defs>
            <linearGradient id="foxnoxWordmark" x1="0" y1="0" x2="73" y2="100" gradientUnits="userSpaceOnUse">
              <stop offset="0%" stop-color="#FFB347"/>
              <stop offset="100%" stop-color="#FF5500"/>
            </linearGradient>
          </defs>
          <path d="M 0 100 L 20 100 L 20 64 L 46 64 L 60 44 L 20 44 L 20 20 L 58 20 L 72 0 L 0 0 Z"
                fill="url(#foxnoxWordmark)"/>
        </svg>
        @if (sidenavService.getExpanded()) {
          <span class="wordmark-text">oxnox</span>
        }
      </div>
    </div>
    <i class="pi pi-angle-double-{{sidenavService.getPinned() ? 'left' : 'right'}} toggle-icon"
      (click)="sidenavService.togglePinned()">
    </i>
  </ng-template>

    @if (sideNavItems()) {
      <p-panelMenu #panelMenu
        [model]="sideNavItems()"
        [multiple]="false"
        styleClass="sidenav"
        [style]="{'width':'100%'}"
      />
    }
</p-panel>